<div class="flex gap-x-3 items-center">
  <div
    class="bg-gray-500 dark:bg-primary w-10 h-5 rounded-xl flex justify-evenly items-center hover:bg-primary hover:cursor-pointer"
    (click)="themeState.toggleTheme()"
  >
    <span
      class="h-3.5 w-3.5 rounded-full bg-white transition-transform duration-500 ease-in-out"
      [ngClass]="{ 'translate-x-2.5': currentThemeValue === 'dark', '-translate-x-2.5' :  currentThemeValue === 'light',}"
    ></span>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 22 22"
    class="stroke-gray-500 dark:stroke-primary hover:stroke-primary hover:cursor-pointer"
    (click)="themeState.toggleTheme()"
  >
    <path
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="M1 10.449a10.544 10.544 0 0 0 19.993 4.686C11.544 15.135 6.858 10.448 6.858 1A10.545 10.545 0 0 0 1 10.449Z"
    />
  </svg>
</div>
