<div class="flex gap-x-3 items-center">
  <div
    class="bg-primary w-10 h-5 rounded-xl flex justify-evenly items-center hover:cursor-pointer"
    (click)="themeState.toggleTheme()"
  >
    <span
      class="h-3.5 w-3.5 rounded-full bg-white transition-transform duration-500 ease-in-out"
      [ngClass]="{ 'translate-x-2.5': currentThemeValue === 'dark', '-translate-x-2.5' :  currentThemeValue === 'light',}"
    ></span>
  </div>
  <img
    ngSrc="assets/images/icon-moon.svg"
    height="20"
    width="20"
    priority
    class="hover:cursor-pointer"
  />
</div>
