<form
  class="bg-gray-900 w-full rounded-2xl h-12 py-3 px-6 flex items-center focus-within:border focus-within:border-primary md:h-16"
  [formGroup]="form"
  (ngSubmit)="onSearch()"
  [ngClass]="{
    'border border-danger': isValidField()
  }"
>
  <input
    type="text"
    class="border-0 outline-0 w-full text-body-md font-bold text-white cursor-pointer caret-primary placeholder:opacity-45 md:text-heading-sm"
    placeholder="Search for any word..."
    formControlName="query"
  />
  <button type="submit" class="w-fit h-fit hover:cursor-pointer">
    <img ngSrc="assets/images/icon-search.svg" height="16" width="16" />
  </button>
</form>
@if (isValidField()) {
<searchbar-error-message [message]="getFieldError() ?? ''" />
}
