<main
  class="h-screen px-8 pt-8 md:pt-14 flex flex-col gap-8 lg:w-[736px] lg:mx-auto"
  [ngClass]="{
    'font-family-mono': currentFontFamily === 'mono',
    'font-family-sans': currentFontFamily === 'sans',
    'font-family-serif': currentFontFamily === 'serif'
  }"
>
  <app-header />
  <dictionary-search-bar />
  @if (!dictionaryEntryResource.isLoading() &&
  dictionaryEntryResource.hasValue()) {
  <dictionary-entry-article
    [dictionaryEntry]="dictionaryEntryResource.value()"
  />
  }
  <!--  -->
  @if(dictionaryEntryResource.isLoading()){
  <app-loader />
  }
  <!--  -->
  @if(dictionaryEntryResource.error() && !dictionaryEntryResource.isLoading()){
  <app-not-found />
  }
</main>
